body {
  background-color: #1B1E21;
  color: #FEFEFE;
}

.selected {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.67);
}

/*.hero:hover { 
    background-color: yellow;

}*/

.hero {
  padding: 0.1rem;
  transition: all .1s ease-in-out;
}

.hero:hover { 
  transform: scale(1.4); 
}

.attribute-section {
  display: flex;
  flex-wrap: wrap;
}

.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.attribute-section {
  padding-bottom: 1rem;
}